// Variables

$body-bg: #fff;
$main-font: 'Arial';

$color-1: teal;         // primary color
$color-2: green;        // secondary color
$color-light: silver;
$color-dark: black;

$container: 960px;
$section-padding: 20px;

