@import 'variables';
@import 'functions';

// reset
* {
  margin: 0;
  padding: 0;
}

body {
  background: $body-bg;
  font-family: $main-font;
  text-align: center;
}

a {
  text-decoration: none;
  color: $color-dark;
}

.container {
  max-width: $container;
  margin: auto;
  padding: 0 20px;
}

header#main-header {
  padding: 1em;
  background: $color-1;
  color: set-text-color($color-1);

  h1 {
    font-size: 40px;
  }
}

nav#main-nav {
  background: $color-2;
  height:40px;

  ul {
    list-style: none;
    padding-top: 10px;
  }

  li {
    display: inline;
  }

  a {
    color: #fff;
    padding-right: 20px;

    &:hover{
      color: #ccc;
    }
  }
}

.section {
  padding: $section-padding;

  h1 {
    margin-bottom: 30px;
  }
}

#section-a {
  @extend .section;
  background: $color-light;
  color: set-text-color($color-light);
}

#section-b {
  @extend .section;
  background: $color-dark;
  color: set-text-color($color-dark);
}

.button {
  padding: 10px 15px;
}

.button-a {
  @extend .button;
  background: darken($color-1, 10%);
  color: set-text-color($color-1);
}

.button-b {
  @extend .button;
  background: lighten($color-2, 10%);
  color: set-text-color($color-2);
}